td.grafico {
  position: relative;
  width: 120px;
}

td.grafico .graph {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 40%;
  background: #eee;
}

td.grafico .graph .inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #DC0000;
}

td.grafico .graph .abs {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: small;
  text-align: left;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px #000;
  font-weight: bold;
}